.headContent {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 0 auto;
  padding: 32px 0;
  gap: 24px;
  //gap: calc((100% - 90%) / 2);
}

span.__foundatione {
  font-size: 14px;
  color: var(--light-grey);
}
