@import "../../../styles/variable.scss";
.link {
  color: $red;
  text-decoration: underline;
  font-size: 14px;
}
.disableLink {
  pointer-events: none;
  cursor: default;
}
.link.disableLink {
  color: $lightest-grey;
}
