$white-color: #fff;
$dark-grey: #303030;
$grey: #707070;
$light-grey: #9c9c9c;
$lightest-grey: #d1d1d1;
$lightest-grey1: #f6f6f6;
$darkred: #c60e2e;
$red: #e4163a;
$light-red: #ff5761;
$lightest-red: #ff768e;
$blue: #344472;

$width: 365px;
$height: 40px;
$bor-radius: 4px;
$transition: all 0.3s;

$width-card: 1140px;
$height-card-title: 70px;

// т.к. scss переменные  не подсказывает VS Code
:root {
  --white-color: #fff;
  --dark-grey: #303030;
  --grey: #707070;
  --light-grey: #9c9c9c;
  --lightest-grey: #d1d1d1;
  --lightest-grey1: #f6f6f6;
  --darkred: #c60e2e;
  --red: #e4163a;
  --light-red: #ff5761;
  --lightest-red: #ff768e;
  --blue: #344472;

  --width: 365px;
  --height: 40px;
  --bor-radius: 4px;
  --transition: all 0.3s;

  --width-card: 1140px;
  --height-card-title: 70px;
}
